
<table class="table">
    <tr>
        <th>Uploaded Files</th>
        <th>Results</th>
        <th>Erred Records</th>
        <th>Duplicates</th>
    </tr>
    <tr>
        <td id="tFiles"></td>
        <td id="tCalculations"></td>
        <td id="tErred"></td>
        <td id="tDuplicates"></td>
    </tr>
</table>

