@{
    ViewBag.Title = "Contact";
}

<div class="col-md-12" style="margin-bottom:2em;">
    <h3>@ViewBag.Message</h3>
    <p style="margin-top:2em;">For support or feedback on this project you may contact me on the following details:</p>
    <address>
        <strong>Mobile No:</strong> +27 81 568 0570<br />
        <strong>Alternative Mobile No:</strong> +27 64 906 8853<br />
        <strong>Email:</strong><a href="mailto:nokuthulat@gmail.com"> NokuthulaT@GMail.com</a><br />
    </address>
</div>
